html {
	overflow: clip;
}

body {
	margin: 0px;
}

#bg {
	z-index: -1;
	position: fixed;
	
	/* background-image: url(""); */
	background-color: black;
	background-size: cover;
	background-position: center;

	width: 100vw;
	height: 100vh;
}


#site-body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	height: 100vh;
}

	/* Box class for creating windows with the glass effect */
.box {
	backdrop-filter: blur(8px);
	background-image:
		linear-gradient(
			to bottom,
			rgba(255, 255, 255, 0.7),
			rgba(0, 0, 0, 0.0) 30%,
			rgba(255, 255, 255, 0.1) 70%
		);

	/* This border is barely visible with the current background */
	border: 2px solid black;
	border-radius: 7px;

	box-shadow: 5px 5px 10px 10px black;
}

#home-window {
	display: block;
	margin: 4px;
}

	/* Define an area inside the window to fit its contents */
#content-area {
	display: flex;

	margin: 0% 1% 1% 0%;
	width: 99%;
}

	/* Define the shape and color of the parts of the window */
#content {
	background-color: rgba(255, 255, 255, 0.4);
	backdrop-filter: blur(99px);
	border-radius: 0px 0px 5px 5px;
}

	/* Define how the picture will appear independently of the orientation */
.pic-border {
	padding: 3%;

	border-radius: 5%;
	background-color: transparent;

	backdrop-filter: blur(3px);
}

#niko-pic img {
	max-width: 100%;
	background-color: black;
	display: block;
}

#highlight {
	z-index: 1;
	position: absolute;

	height: 100%;
	width: 100%;

	top: 0px;
	left: 0px;

	border-radius: inherit;

	background-image: linear-gradient(to bottom, #fffffff0, transparent 35%);
}
