@import url("variables.css");

html, body {
	margin: 0px;

	background-color: var(--bg-color);

	width: 100vw;
	height: 100vh;
}

.content-container {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 100%;
	height: 100%;
}

canvas {
	display: block;

	width: 480px;
	height: 360px;
}

.contact a {
	margin: 0px 10px 0px 10px;
}
