@import url("variables.css");

html, body {
	margin: 0px;

	background-color: var(--bg-color);

	display: flex;
	justify-content: center;
	align-items: center;

	width: 100vw;
	height: 100vh;
}

canvas {
	display: block;

	width: 480px;
	height: 360px;
}
