<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{{ site.data.langs[page.lang].void.title }}</title>
		<link rel="stylesheet" href="/assets/css/{{ page.style }}">
	</head>
	<body>
		<script>0</script>
		<nav class="index-nav">
			<a class="index-a" href="home">{{ site.data.langs[page.lang].void.home }}</a>
			<a class="index-a" href="gallery">{{ site.data.langs[page.lang].void.gallery }}</a>
			<a class="index-a" href="blog">{{ site.data.langs[page.lang].void.blog }}</a>
		</nav>
		<div id="copyright">Nikoneko 2026</div>
	</body>
</html>
