@import "variables.css";

#about-me figure {
	max-width: 30%;
	float: right;
}

#about-me figure img {
	width: 100%;
}

* {
	color: var(--text-color);
}

p {
	margin: 0 3% 5px 3%;
	white-space: normal;
}

figure p {
	filter: opacity(80%);

	display: block;

	width: 100%;
	word-wrap: break-all;

	margin: unset;
}

h1, h2 {
	text-align: center;
}
