@import "variables.css";

body {
	margin: 0px;
	background-color: var(--bg-color);

	width: 100vw;
	height: 100vh;
}

.header { position: relative; }

.contents {
	margin: auto;

	width: 50%;
	height: 100%;

	border: 0px 2px 0px 2px;
	border-color: darkgray;
	border-style: none groove none groove;

	overflow: scroll;
}

.header > nav {
	width: 100%;
	height: 30px;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 5px;

	border-width: 1px 0px 1px 0px;
	border-style: solid;
	border-color: white;

	margin-top: -5px;
}

.header > nav > * {
	font-family: "Courier New", Helvetica, monospace;
	font-size: 0.9em;

	border: 1px outset white;
	background-color: black;

	color: white;
	text-decoration: none;

	width: 15%;
	text-align: center;
}

.header > *:hover {
	filter: invert(100%);
}

#exit-button {
	margin-left: 10px;
	margin-right: auto;
}

#exit-button nav {
	display: none;

	position: absolute;
	top: 100%;

	width: 100%;
	background-color: red;
}
