@import "variables.css";

body {
	margin: 0px;
	background-color: var(--bg-color);

	width: 100vw;
	height: 100vh;

	display: flex;
	align-items: center;
}

.header {
	position: relative;
	background-color: var(--header-bg-color);
}

.header > nav {
	width: 100%;
	height: 30px;

	display: flex;
	justify-content: flex-end;
	align-items: center;
	flex-wrap: wrap;
	gap: 5px;

	border-width: 0px 0px 1px 0px;
	border-style: groove;
	border-color: var(--text-color);
}

.a-normal {
	position: relative;

	font-family: "Courier New", Helvetica, monospace;
	font-size: 0.9em;

	border: 0px solid white;
	border-radius: 8px;
	background-color: var(--header-bg-color);

	color: var(--text-color);
	text-decoration: underline;

	margin-right: 2%;

	min-width: 15%;
	text-align: center;
}

.header nav > a:hover {
	filter: invert(100%);
}

#exit-button {
	position: absolute;
	left: 10px;

	text-align: center;
	color: red;

	border: 0px outset white;

	width: 5%;
	height: 20px;

	text-decoration: none;
	background-color: var(--header-bg-color);
}

.contents {
	width: 50%;
	height: 100%;

	margin: 20px auto auto auto;

	background-color: var(--bg-color);
	color: var(--text-color);

	font-family: "Courier new";
}

.scroll-content {
	width: 100%;
	height: 100%;

	overflow: scroll;
}

#lang-select-button {
	position: absolute;
	left: 0px;

	color: inherit;
	font-family: inherit;

	filter: opacity(100%);
}

#lang-select-button > button {
	color: inherit;
	font-family: inherit;

	display: flex;
	align-items: center;
	gap: 5px;

	font-size: 0.9em;
	background-color: var(--bg-color);

	border: none;
}

#lang-select-button > button:hover {
	filter: invert(100%);
}

#lang-select-button svg {
	color: var(--text-color);
}

ul {
	display: none;

	position: absolute;
	top: 20px;
	left: -30px;

	margin-left: 0px;

	list-style: none;
	text-align: left;
}

li a {
	color: var(--text-color);
	background-color: var(--bg-color);
	text-decoration: none;
}

li a:hover {
	filter: invert(100%);
}

li[data-selected="true"] a:not(:hover) {
	text-decoration: underline;
}
