@import "variables.css";

body {
	margin: 0px;
	background-color: var(--bg-color);

	display: flex;
	justify-content: center;
	align-items: center;

	width: 100vw;
	height: 100vh;
}

.star {
	filter: drop-shadow(0px 0px 1px white);
}

#stars {
	display: none;

	z-index: -1;

	margin: 0;

	position: absolute;
	top: 0;
	left: 0;

	width: 100vw;
	height: 100vh;

	overflow: hidden;
}

.stuff {
	display: flex;
	justify-content: center;
	align-items: center;

	padding: 10px;

	border-style: double;
	border-width: 5px;
	border-color: var(--text-color);

	box-shadow: var(--shadow-color) 0px 2px 10px;

	filter: drop-shadow(0px 0px 3px var(--glow-color));
}

.name-box {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.name-box * {
	color: var(--text-color);
	margin: 0;
}

.name-box h1 {
	font-size: 5em;
}

#theme-changer {
	top: 23.5px;
}
