@import "variables.css";

body {
	margin: none;

	color: var(--text-color);
	background-color: var(--bg-color);
	font-family: "Courier New", Helvetica, monospace;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	height: 100vh;

	overflow: hidden;
}

nav a {
	color: var(--text-color);
	text-decoration: none;
	text-align: center;

	margin: auto;

	display: block;
	width: 300px;

	background-color: var(--bg-color);
}

nav a:hover {
	filter: invert(100%);
	opacity: 70%;
}

.extras {
	position: absolute;
	margin-top: 130px;

	display: flex;
	flex-direction: row;
	gap: 20px;

	color: inherit;
	font-family: inherit;
}

/*
.extras > p {
	color: inherit;
	font-family: inherit;

	filter: opacity(50%);
}
*/

#lang-select-button {
	color: inherit;
	font-family: inherit;

	filter: opacity(50%);
}

#lang-select-button > button {
	color: inherit;
	font-family: inherit;

	display: flex;
	align-items: center;
	gap: 5px;

	font-size: 0.9em;
	background-color: var(--bg-color);

	border: none;
}

#lang-select-button > button:hover {
	filter: invert(100%);
}

#lang-select-button svg {
	color: var(--text-color);
}

ul {
	display: none;

	position: absolute;
	top: 20px;
	left: -30px;

	margin-left: 0px;

	list-style: none;
	text-align: left;
}

li a {
	color: var(--text-color);
	background-color: var(--bg-color);
	text-decoration: none;
}

li a:hover {
	filter: invert(100%);
}

li[data-selected="true"] a:not(:hover) {
	filter: invert(70%);
}
