@import "variables.css";

body {
	margin: none;

	color: var(--text-color);
	background-color: var(--bg-color);
	font-family: "Courier New", Helvetica, monospace;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	height: 100vh;

	overflow: hidden;
}

nav a {
	color: var(--text-color);
	text-decoration: none;
	text-align: center;

	margin: auto;

	display: block;
	width: 300px;

	background-color: var(--bg-color);
}

nav a:hover {
	filter: invert(100%);
	opacity: 70%;
}

.extras {
	position: absolute;
	margin-top: 130px;

	display: flex;
	flex-direction: row;
	gap: 20px;

	color: inherit;
	font-family: inherit;
}

/*
.extras > p {
	color: inherit;
	font-family: inherit;

	filter: opacity(50%);
}
*/
