html {
	scroll-behavior: smooth;
	font-family: sans-serif;
}


#home-window {
	position: fixed;
}

#content-area {
	flex-direction: row;
	height: 91.7%;
}

#top-bar {
	display: block;

	border-radius: 7px 7px 0px 0px;

	width: 100%;
	height: 5.5%;
	background-color: #ffffff38;

	text-align: center;
}

#side-bar {
	display: flex;
	flex-direction: column;

	align-items: center;

	width: 18%;
	height: 100%;

	color: white;
	font-size: 2em;

	overflow: scroll;
}


.resize-box {
	z-index: 2;
	position: absolute;

	width: 100%;
	height: 100%;

	display: grid;
	grid-template-rows: 5px auto 5px;
	grid-template-columns: 5px auto 5px;
	grid-template-areas:
		"resizeTopLeft    resizeCenterTop    resizeTopRight"
		"resizeCenterLeft .                  resizeCenterRight"
		"resizeBottomLeft resizeCenterBottom resizeBottomRight";

	pointer-events: none;
}

.resize-select {
	background-color: none;
	pointer-events: auto;
}

#res-tl {
	grid-area: resizeTopLeft;
	cursor: nwse-resize;
}

#res-tc {
	grid-area: resizeCenterTop;
	cursor: ns-resize;
}

#res-tr { grid-area: resizeTopRight; }
#res-rc { grid-area: resizeCenterRight; }
#res-br { grid-area: resizeBottomRight; }
#res-bc { grid-area: resizeCenterBottom; }
#res-bl { grid-area: resizeBottomLeft; }
#res-lc { grid-area: resizeCenterLeft; }

#res-tr, #res-bl { cursor: nesw-resize; }
#res-tl, #res-br { cursor: nwse-resize; }
#res-lc, #res-rc { cursor: ew-resize; }
#res-tc, #res-bc { cursor: ns-resize; }


#menu {
	display: flex;

	flex-direction: column;
	justify-content: start;
	align-items: center;
	gap: 3%;

	width: 90%;
	height: 100%;

	color: #ffffffb0;
	font-size: 0.5em;

	margin-top: 5%;

	overflow: scroll;

	background-color: #ffffff20;
}


#niko-pic {
	width: 70%;

	align-self: center;
	margin-top: 10%;

	background-color: #ffffff80;
	box-shadow: 5px 5px 10px 1px #202020;
}


#menu a {
	text-decoration: none;
	color: inherit;
	padding: 3% 0% 3% 15%;

	width: 73%;
}

#menu a:hover {
	color: cyan;
	text-decoration: underline;
}


#copyright {
	font-size: 0.6em;
	color: #ffffff98;
}


#content {
	width: 87%;
	height: 100%;

	overflow-y: scroll;
	scroll-behavior: smooth;
}

#content * {
	text-align: center;
}

#content p {
	word-wrap: all;
}

#snap-box {
	display: none;
	pointer-events: none;

	position: fixed;
	z-index: -1;

	border: 5px solid #0070700c;
	background-color: #00ffff20;
}
