html, body {
	margin: 0px;
	background-color: white;

	width: 100vw;
	height: 100vh;
}

#content {
	display: grid;
	grid-template-columns: 50% 50%;

	width: 100%;
	height: 100%;
}

#renderer {
	display: flex;
	justify-content: center;
	align-items: center;

	overflow: hidden;

	width: 95%;
	height: 100%;
}

.botao {
	position: absolute;

	border: 2px solid gray;
	border-radius: 50%;

	text-align: center;

	color: gray;
	text-decoration: none;

	background-image: linear-gradient(to bottom, white, #cccccc);
}

#back {
	top: 15px;
	right: 30px;

	width: 55px;
	height: 55px;
}

#send {
	top: 15px;
	right: 115px;

	width: 55px;
	height: 55px;
}

#back:hover {
	color: blue;
	border: 2px solid blue;
	background-image: linear-gradient(to bottom, #d0ffff, #a0cccc);
}

#send > p {
	font-size: 1em;
}

#back > p {
	margin-top: 3.7px;
	margin-left: -3px;

	font-size: 2em;
	font-weight: 900;
}

#configs {
	height: 100vh;
	display: grid;
	grid-template-rows: auto auto;
}

#configs > div {
	overflow: scroll;
}

.field-container {
	display: grid;
	grid-template-columns: 47% auto;

	max-width: 50%;
}

.field-container > input {
	justify-self: start;
}

.field-container > input[type="number"] {
	max-width: 50%;
}

.warning {
	background-color: #dddddd;
	opacity: 0.75;
	border-radius: 10px;
	padding: 10px;
	text-wrap: pretty;
	max-width: 90%;
	margin-left: 15px;
	background-image: linear-gradient(to bottom, transparent, #00000030);
	color: #000000;
}

canvas {
	width: 500px;
	height: 500px;
}
